body {
    background-color: #D9CCB4;
    margin: 0;
}

@keyframes fade{
    from{opacity: 0.4;}
    to{opacity:1;}
}

#menuLateral {
    position: relative;
    width: 200px;
    min-height:550px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    white-space:nowrap;
    margin-left: 8px;
    background-color: #b7e1ee;
    border: #000 solid 2px;
    overflow:hidden;
}

#menuLateral > a{
    position: absolute;
    width: 76%;
    top:0%;
    height: 32%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
} 

#mlItem1 {
    font-family: 'Besley', serif;
    font-size: 104px;
    line-height: 62px;
    transform: rotate(-13deg);
}

#mlItem1 span{
    font-family: 'Besley', serif;
    font-size:57px;
    transform: rotate(-13deg); 
}

#perfil {
    position: absolute;
    width: 70%;
    top:70%;
    border: 2px solid black;
}

nav {
    position: relative;
    width: 61%;
    display: flex;
    margin-top: 8px;
}

nav > a {
    display: flex;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #7cf382;
    color:rgb(100, 29, 33);
    border: 1px solid black;
    font-family: 'Besley', serif;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    transition:all 0.4s ease;
}

nav a:hover{
    background-color: #d2ffe8;
    color: rgb(95, 6, 6);
}

#mRetratil{
    margin-top: 0;
}

#redesSociais{
    position: absolute;
    width: 30px;
    height: 120px;
    margin: 20px 0 0 225px;
    z-index: 1;
}

#redesSociais a img{
    width: 30px;
    height: 27.5px;
    margin-bottom: 20px;
}

#redesSociais a img:hover{
    width: 33px;
    height: 30px;
}

#sct1 {
    position: relative;
    width: 56%;
    float: left;
    margin-bottom: 30px;
    padding-left: 5%;
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-size: 45px;
}

h3 {
    font-size:30px;
}

#adv_banner {
    position:static;
    width: 290px;
    height: 800px;
    float: right;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:transparent;
    border: none;
}

.bannerImg{
    width:290px;
    height:221px;
    
}


.sShowContainer {
    position: relative;
    width: 45.3%;
    height: 80%;
    left:25%;
    margin-bottom: 50px;
    overflow:hidden;
}

.sShowContainer div img{
    width:100%;
    height: 95%;
}

.dvSlide{ 
    display:none;
}

.slideAtivo{
    display:block;
    animation-name: fade;
    animation-duration: 0.3s;
}

.slideNumero{
    position: absolute;
    display: inline-block;
    color: #333;
    background-color: #ddd;
    border-radius: 0 0 5px 0;
}

.legendaFoto{
    position: absolute;
    width: 100%;
    height: 20%;
    top: 70.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,95,85,0.6);
    color: #000;
    font-family: 'Besley';

}

#marcadores{
    display:flex;
    justify-content: center;        
}

.base{
    width:25px;
    height:25px;
    margin:10px;
    background-color: rgba(204,160,160,0.6);;
    border-radius: 50%;
    cursor:pointer;
}

.mAtivo {
    background-color: rgb(255,95,85);
}

#passadores{
    position: absolute;
    width: 98%;
    top: 40%;
    left: 1%;
    display: flex;
    justify-content: space-between;
}

.btn_ {
    width:auto;
    height:65px;
    display: inline-block;
    border-radius:5px;
    color: #ddd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 900;
    cursor:pointer;
    transition: all 0.4s ease;
}

.btn_:hover{
    height:67px;
    background-color: #aaa;;
    font-size: 60px;
}

.expansor{
    display: inline-block;
    margin-left:35px;
    font-size: 30px;
    font-family: 'Besley', serif;
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 6px;
    cursor:pointer;
    margin:0;
    }

.expansor:hover{
    font-size: 32px;
}

h2{
    display:inline-block;
}

#commentsSection{
    overflow: visible;
    transition: max-height 0.5s ease;
}

h5{
    margin:0;
    margin-top: 15px;
    font-weight: 300;
}

.nickname{
    color:rgb(50,0,0);
    font-family: cursive;
    font-style: italic;
    font-size:17px
}

#caixaComentario{
    position: relative;
    width: 55%;
    left: 20%;
    margin-bottom: 50px;
    font-family: 'Besley', serif;
}

.commentUnit{
    overflow:hidden;
    transition:all 0.5s ease;
    max-height: fit-content;
}

.commentField{
    width:93%;
    padding:22px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border:1px solid black;
    border-radius:10px;
    box-shadow: 2px 2px 2px orangered;
}

.floatRight{
    float:right;
}

.commentField_reply{
    width:552px;
    padding:22px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border:1px solid black;
    border-radius:10px;
    box-shadow: 2px 2px 2px orangered;
}

 .painelBtns{
    width:180px;
    height:25px;
    display: flex;
    justify-content: space-between;
    overflow:visible;
    margin-top: 5px;
    max-height: fit-content;
 }

 .painelBtns > img{
     width:20%;
     height:95%;
     cursor: pointer;
     z-index:10;
 }

.alignRight{
    margin-left: 140px;
}

.ShowReplies_Btn{
    position: static;
    display: block;
    color: rgb(55,80,200);
    font-size: 12px;
    cursor: pointer;
    float: right;
}

#respSec{
    transition: max-height 0.2s ease;
}

.rAberto{
    max-height: 1000px;
}

label{
    margin-top: 30px;
}

textarea[type="text"]{
    height: 100px;
    width: 400px;
    padding: 0;
    text-align: left;
    margin: 10px 0 20px 0;
}

.breakLine{
    display: block;
    margin-left: 275px;
}
#latest{
    width:60%;
    display:flex;
    margin:0 0 50px 275px;
}

#latest a img:hover{
    border:2px solid rgb(40,40,150);
    
}

#latest a{
    width:15%;
    margin: 0;
}

#latest a img{
    width:100%;
    border:1px solid #222;
    border-radius: 10px;
}

#latest div{
    display:block;
    margin-left: 25px;
}

#latest div a{
    color:#000;
    text-decoration: none;
}

#latest div a:hover{
    color:rgb(60,60,200);
    text-decoration: underline;
}

footer{
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: beige;
    color: rgb(50,100,190);
    font-size: 20px;
}